name: Update CF

on:
  schedule:
    - cron: '0 11 */15 * *'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-24.04
    name: Run
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.2.2

      - name: Run Update
        run: |
          sudo chmod +x CF.sh && ./CF.sh
  
      - name: Check
        run: |
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action"
            git add IP4-AS209242-CIDR IP4-AS209242-ISO ads.srs list.srs
            git commit -m "Update CF on $(TZ='Asia/Singapore' date "+%Y/%m/%d %H:%M:%S")"
            git push origin main
