name: Release

on:
#  schedule:
#    - cron: '0 20 * * 0'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-20.04
    name: Run
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4.0.0

      - name: Run Script
        run: |
          sudo chmod +x NiceGost.sh
          sudo bash NiceGost.sh

      - name: Check for cloudflared-arm
        id: check-cloudflared-arm
        run: |
          if [ -e cloudflared-arm ]; then
            echo "::set-output name=exists::true"
          else
            echo "::set-output name=exists::false"
          fi
          
      - name: Upload to Release
        id: upload-release
        if: steps.check-cloudflared-arm.outputs.exists == 'true'
        uses: svenstaro/upload-release-action@2.7.0
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.run_number }}
          file: NiceGost.deb
          asset_name: NiceGost.deb
          overwrite: true
